body {background-color: #777;
width:960px;}

.class1 {
    background-color: #ebebeb;
    text-align: center;
    color: #777;
    font-family: Arial;
    margin: 1%;
    padding: 20px;
}

section { margin:1%;
padding: 25px;
background-color: #ebebeb;
width:50%;
float:left;
text-align: center;
color:#777;}

#header {background-color: #ebebeb;
padding: 20px;
margin: 15px;
text-align: center;
color:#777;}

#p {background-color: #ebebeb;
padding: 20px;
margin: 15px;
text-align: center;
color:#777;}


article {background-color: #777;
padding:15px;
margin: 15px;
color:#ebebeb;}

aside {background-color: #ebebeb;
margin:1%;
padding: 50px;
float:left;
width:30%;
height:213px;
text-align: center;
color:#777;}

footer {clear: left;}




 	background-color: #ebebeb;
 	background-color: #ebebeb;
 	margin: 20px;
 	margin: 20px;
 	padding: 15px;
 	padding: 15px;}
 
 
 }
.class1 background-color: #ebebeb;

aside  background-color: #ebebeb;
background-color: #ebebeb;
body  background-color: #777;
color: #777;
color: #777;
color: #777;
color: white;
float: left;
float:left;
font-family: Arial
font-family: Arial;
font-family: Arial;
font: Arial 
footer clear: left;
margin: 1%;
margin: 1%;
padding: 10px;}
padding: 20px;
padding: 20px; 
padding: 40px;
section  margin: 10px;
text-align: center;
text-align: center;
width: 50%;
width: 960px;
